header {
 text-align: center;
backface-visibility: hidden;,
}
li a {

   color: black;
   background-color: #ccccff;
}
.navbar-inverse  {
    color: black;
    ;
  }
   {
      color: blue;
;
}
img.content {
  text-align: center;
}
.h1, h1 {
    font-size: 36px;
    color: red;
    text-align: center;
}
.container {
  text-align: center;
}

form {
  text-align: center;
}
.site-branding {
  text-align: center;
}
